; --------------------------------------
; {{ ansible_managed }}
; --------------------------------------

; configuration for php xdebug module
; priority=20
zend_extension=xdebug.so

{% if xdebug_version.stdout|version_compare('2.3', 'gt') %}
{% endif %}

xdebug_auto_trace={{ php_xdebug_auto_trace }}
xdebug_cli_color={{ php_xdebug_cli_color }}
xdebug_collect_assignments={{ php_xdebug_collect_assignments }}
xdebug_collect_includes={{ php_xdebug_collect_includes }}
xdebug_collect_params={{ php_xdebug_collect_params }}
xdebug_collect_return={{ php_xdebug_collect_return }}
xdebug_collect_vars={{ php_xdebug_collect_vars }}
xdebug_coverage_enable={{ php_xdebug_coverage_enable }}
xdebug_default_enable={{ php_xdebug_default_enable }}
xdebug_dump_globals={{ php_xdebug_dump_globals }}
xdebug_dump_once={{ php_xdebug_dump_once }}
xdebug_dump_undefined={{ php_xdebug_dump_undefined }}
xdebug_extended_info={{ php_xdebug_extended_info }}
xdebug_file_link_format={{ php_xdebug_file_link_format }}
xdebug_force_display_errors={{ php_xdebug_force_display_errors }}
xdebug_force_error_reporting={{ php_xdebug_force_error_reporting }}
xdebug_halt_level={{ php_xdebug_halt_level }}
xdebug_idekey={{ php_xdebug_idekey }}
xdebug_manual_url={{ php_xdebug_manual_url }}
xdebug_max_nesting_level={{ php_xdebug_max_nesting_level }}
xdebug_overload_var_dump={{ php_xdebug_overload_var_dump }}
xdebug_profiler_append={{ php_xdebug_profiler_append }}
xdebug_profiler_enable={{ php_xdebug_profiler_enable }}
xdebug_profiler_enable_trigger={{ php_xdebug_profiler_enable_trigger }}
{% if xdebug_version.stdout|version_compare('2.3', 'gt') %}
xdebug_profiler_enable_trigger_value={{ php_xdebug_profiler_enable_trigger_value }}
{% endif %}
xdebug_profiler_output_dir={{ php_xdebug_profiler_output_dir }}
xdebug_profiler_output_name={{ php_xdebug_profiler_output_name }}
xdebug_remote_autostart={{ php_xdebug_remote_autostart }}
xdebug_remote_connect_back={{ php_xdebug_remote_connect_back }}
xdebug_remote_cookie_expire_time={{ php_xdebug_remote_cookie_expire_time }}
xdebug_remote_enable={{ php_xdebug_remote_enable }}
xdebug_remote_handler={{ php_xdebug_remote_handler }}
xdebug_remote_host={{ php_xdebug_remote_host }}
xdebug_remote_log={{ php_xdebug_remote_log }}
xdebug_remote_mode={{ php_xdebug_remote_mode }}
xdebug_remote_port={{ php_xdebug_remote_port }}
xdebug_scream={{ php_xdebug_scream }}
xdebug_show_exception_trace={{ php_xdebug_show_exception_trace }}
xdebug_show_local_vars={{ php_xdebug_show_local_vars }}
xdebug_show_mem_delta={{ php_xdebug_show_mem_delta }}
xdebug_trace_enable_trigger={{ php_xdebug_trace_enable_trigger }}
{% if xdebug_version.stdout|version_compare('2.3', 'gt') %}
xdebug_trace_enable_trigger_value={{ php_xdebug_trace_enable_trigger_value }}
{% endif %}
xdebug_trace_format={{ php_xdebug_trace_format }}
xdebug_trace_options={{ php_xdebug_trace_options }}
xdebug_trace_output_dir={{ php_xdebug_trace_output_dir }}
xdebug_trace_output_name={{ php_xdebug_trace_output_name }}
xdebug_var_display_max_children={{ php_xdebug_var_display_max_children }}
xdebug_var_display_max_data={{ php_xdebug_var_display_max_data }}
xdebug_var_display_max_depth={{ php_xdebug_var_display_max_depth }}

