events {
    worker_connections  1024;
}

user root;

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

	server {
		server_name {{ vhost }};

		root /var/www;

{% if ansible_local.hanxhx_php.fpm_pool.0.status_path is defined %}
		location = {{ ansible_local.hanxhx_php.fpm_pool.0.status_path }} {
			include fastcgi.conf;
			fastcgi_pass unix:{{ ansible_local.hanxhx_php.fpm_pool.0.listen }};
		}
{% endif %}
{% if ansible_local.hanxhx_php.fpm_pool.0.ping_path is defined %}
		location = {{ ansible_local.hanxhx_php.fpm_pool.0.ping_path }} {
			include fastcgi.conf;
			fastcgi_pass unix:{{ ansible_local.hanxhx_php.fpm_pool.0.listen }};
		}
{% endif %}

		location = /ini.php {
			include fastcgi.conf;
			fastcgi_pass unix:{{ ansible_local.hanxhx_php.fpm_pool.1.listen }};
		}

		location ~ \.php$ {
			include fastcgi.conf;
			fastcgi_pass unix:{{ ansible_local.hanxhx_php.fpm_pool.0.listen }};
		}
	}
}
